.on-the-githubs {
  list-style-type:none;
  padding:0;
  margin:0 0 0 5px;
}
.on-the-githubs img {
  float:left;
  margin:0;
}
.on-the-githubs p {
  display:inline-block;
  float:left;
  margin:0;
  max-width:550px;
}
.on-the-githubs abbr.timeago {
  position:absolute;
  right:0;
  float:left;
  text-align:right;
}
.on-the-githubs > li {
  border-bottom:1px solid #eee;
  padding:5px 0;
  clear:both;
  position:relative;
}
.on-the-githubs > li:last-child { border-bottom:none; }
.on-the-githubs .gravatar { margin-right:7px; }
.on-the-githubs .commits {
  display:none;
  clear:both;
  padding-top:5px;
}
.on-the-githubs .commits li {
  list-style-type:none;
  margin-left:10px;
  font-size:12px;
}
.on-the-githubs .commits li a {
  display:inline-block;
  width:50px;
  text-align:right;
  margin-right:3px;
}
.on-the-githubs > li:hover .commits { display:block; }

.on-the-githubs img.gravatar {
  border-radius:10px;
  width:20px;
  height:20px;
}

.in-the-githubs a {
  display:inline-block;
  width:80px;
  height:80px;
  margin:12px;
}
.in-the-githubs img {
  border-radius:80px;
  width:80px;
  height:80px;
}
